<launch>


  <!-- Run the map server -->
 <arg name="map_file" default="$(find base_movement)/maps/lab_map.yaml"/>
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
 <include file="$(find base_movement)/launch/include/amcl.launch" />

  <!--- Run Move Base -->
 <include file="$(find base_movement)/launch/include/move_base.launch" />

  <!--- Run rviz -->
  <param name="use_gui" value="true"/>
  <arg name="config" default="localization" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find base_movement)/rviz/$(arg config).rviz" />

  <!--- set up the waypoint bridge -->
    <node name = "wp_publisher" pkg = "base_movement" type = "waypoint_test.py" output = "screen" />
</launch> 
