<launch>
  <arg name="node_start_delay" default="2.0" />
  <node name="script" pkg="speech" type="api_setup.sh"/>
  <node name="CentralNode" pkg="main" type="main.py"/>
  <node name="Listen" pkg="speech" type="g_speech.py"/>
  <node name="NLP" pkg="speech" type="processing.py" output = "screen"/>

  <node name="my_image_display" pkg="merry_faces" type="main.py"/>
  <node name="listener" pkg="merry_faces" type="subscriber_image.py" />

  <!-- <node name="video_publisher" pkg="visuals" type="publish_face.py"/> -->
  <node name="image_view" pkg="image_view" type="image_view"><remap from="image" to="robot/xdisplay" /></node> -->
  <!-- <node name="Listen" pkg="speech" type="speech.py "/>  Alternative option without NLP -->
  <node name="Output" pkg="speech" type="texttospeech.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>
    <!-- A delay function used to start all the seperate launchfiles-->
</launch>
