<launch>
  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>
  <!-- <node name="Listen" pkg="speech" type="speech.py"/>  Alternative option without NLP -->
  <node name="Listen" pkg="speech" type="g_speech.py"/>
  <node name="NLP" pkg="speech" type="processing.py"/>
  <node name="CentralNode" pkg="main" type="main.py"/>
  <node name="Output" pkg="speech" type="texttospeech.py"/>
</launch>
